body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.938rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 0.938rem;
    width: 250px;
    margin-top: 5%;

}

img {
    border-radius: 0.625rem;
    width: 100%;
	max-width: 100%;
	max-height: 100%;
	max-width: 100%;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.25rem;
}

p {
    color: hsl(220, 15%, 55%); 
    font-size: 0.938rem;
    font-weight:400;
}

